@font-face {
    font-family: "Open Sans";
    src: url("/fonts/opensans/OpenSans-Regular.ttf");
}

@media (max-width: 1049.9px) {
    nav {
        width: 100%;
    }
    div.body {
        width: 100%;
        box-sizing: border-box;
    }
    footer {
        width: 100%
    }
    img[width="1000px"] {
        width: 100%;
    }
    div.computing-stats-half-width {
        width: unset;
    }
    div.ewcbt-info {
        width: 100%;
        display: inline-block;
    }
    div.flex-direction-column-on-small {
        flex-direction: column;
    }
    div.flex-direction-column-reverse-on-small {
        flex-direction: column-reverse;
    }
    div.padding-bottom-30-on-small {
        padding-bottom: 30px;
    }
    .max-width-100-percent-on-small {
        max-width: 100%;
    }
}

@media (max-width: 1049.9px) and (min-width: 675px) {
    div.navbar {
        width: calc(100% - 50px);
    }
    div.content {
        width: calc(100% - 300px);
    }
    div.footer-column {
        width: 30%;
    }
    div.footer-middle {
        margin: 0 auto;
        padding: 0px 25px;
    }
    h1 {
        margin-top: 16px;
    }
    .gravity-label {
        margin: 25px 0 5px;
    }
}

@media (max-width: 674.9px) {
    div.navbar {
        width: calc(100% - 30px);
    }
    div.navbar li a {
        padding: 17px 11px 16px;
    }
    div.body {
        padding: 0 15px 15px;
    }
    div.content {
        width: 100%;
    }
    div.sidebar {
        display: none;
    }
    div.footer {
        flex-direction: column;
    }
    div.footer-column {
        width: 100%;
    }
    h1 {
        margin-top: 8px;
    }
    img.contact-jamie {
        width: 174.375px;
    }
    img.contact-abuse {
        width: 176.119px;
    }
    img.contact-security {
        width: 192.107px;
    }
}

@media (min-width: 675px) {
    div.navbar li a {
        padding: 17px 16px 16px;
    }
    div.body {
        padding: 0 25px 25px;
    }
    img.contact-jamie {
        width: 225px;
    }
    img.contact-abuse {
        width: 227.25px;
    }
    img.contact-security {
        width: 247.88px;
    }
}

@media (min-width: 1050px) {
    div.navbar {
        width: 1000px;
    }
    div.body {
        width: 1000px;
    }
    div.content {
        width: 675px;
    }
    div.footer {
        width: 1000px;
    }
    div.footer-column {
        width: 300px;
    }
    div.footer-middle {
        margin: 0 auto;
        padding: 0px 25px;
    }
    div.computing-stats-half-width {
        width: calc(50% - 15px);
    }
    div.ewcbt-info {
        width: 650px;
    }
    .gravity-label {
        margin: 29px 0 5px;
    }
}

html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,a,li,td,th,input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

nav {
    background-color: #59a2c7;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:visited {
    text-decoration: none;
}

div.navbar {
    margin: 0 auto;
    height: 51px;
}

div.navbar h5,div.navbar h4 {
    margin: 0px;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #59a2c7;
}

div.navbar li {
    float: left;
}

div.navbar li a {
    display: block;
}

div.navbar li a:hover {
    background-color: #4c4c4c;
    text-decoration: underline;
}

div.navbar li.navlogo a {
    padding: 8px;
    padding-left: 0px;
    padding-bottom: 0px;
}

div.navbar li.navlogo a:hover {
    background-color: #59a2c7;
}

div.navbar div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e9e9;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

div.navbar div.dropdown-content a {
    color: #000000;
    padding: 16px;
}

div.navbar div.dropdown-content a:hover {
    color: #ffffff;
    text-decoration: none
}

div.navbar li.dropdown:hover div.dropdown-content {
    display: block;
}

div.body {
    flex-grow: 1;
    margin: 0 auto;
}

div.content {
    float: left;
}

div.recent-posts h2,div.recent-posts p.tags,p.recents-date {
    text-align: center;
}

div.recents-tags p {
    display: inline-block;
}

div.view-all-button {
    width: 200px;
    margin: 20px auto;
    padding: 3px;
    border-radius: 3px;
    color: white;
    background-color: #59a2c7;
}

div.view-all-button:hover h3 {
    text-decoration: underline;
}

div.sidebar {
    float: right;
    width: 275px;
}

div.sidebar h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

div.sideitems {
    margin: 11px 0px;
}

div.sideitem {
    width: 135px;
    display: inline-block;
}

div.sideitem img,img.sideitem-image {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-right: 1.5px;
}

div.sideitem img.h1,div.footer-item img.h1 {
    width: 19px;
    height: 36px;
}

div.sideitem h4 {
    display: inline-block;
    margin: 13px 0px;
}

div.tops h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

div.featured {
    width: 335px;
    display: inline-block;
}

div.featured h3 {
    margin-top: 11px;
}

div.menuitem {
    width: 222px;
    text-align: center;
    display: inline-block;
}

div.menuitem h1 {
    margin-bottom: 5px;
}

div.menuitem pre {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 28px;
}

div.onionlink {
    display: inline-block;
    padding: 1px 7.5px 3.5px;
    background-color: #e0e0e0;
    border: 1px solid #000000;
}

div.blog-group {
    display: flex;
}

div.blog-year h1 {
    position: relative;
    top: 50%;
    line-height: 0px;
    margin: 0px;
    padding-right: 8px;
}

div.blog-brace1 {
    background-color: #4c4c4c;
    height: 5px;
    width: 20px;
    align-self: center;
}

div.blog-brace2 {
    background-color: #4c4c4c;
    width: 5px;
}

div.blog-brace3 {
    background-color: #4c4c4c;
    height: 5px;
    width: 20px;
}

div.blog-brace4 {
    height: calc(100% - 10px);
    width: 20px;
}

div.blog-brace5 {
    background-color: #4c4c4c;
    height: 5px;
    width: 20px;
}

div.blog-list {
    width: 100%;
}

div.blog-list h3 {
    margin-top: 19.5px;
    margin-bottom: 0px;
}

div.iconparent {
    clear: both;
    margin-bottom: 15px;
}

div.iconimg {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    height: 80px;
    width: 80px;
}

div.iconimg img {
    height: 80px;
    width: 80px;
}

div.iconlist {
    max-width: calc(100% - 110px);
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3.5px;
}

div.iconlist p {
    padding: 3.5px;
    background-color: #e0e0e0;
    border: 1px solid #000000;
    border-radius: 5px;
}

div.computing-stats div {
    display: inline-block;
    padding: 15px 15px 0 0;
}

div.ewcbt-redgreen {
    height: 334px;
    width: 350px;
    float: left;
}

div.ewcbt-info {
    float: right;
}

div.hours {
    width: 498px;
    display: inline-block;
}

div.hours p {
    font-size: 28px;
    padding-left: 85px;
}

div.hours span {
    font-size: 14px;
}

div.text-left-a {
    width: 445px;
    float: left;
}

div.image-right-a {
    width: 550px;
    float: right;
    margin-top: 16px;
}

pre {
    overflow-x: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 15px;
}

pre a {
    font-family: monospace;
}

pre.scroll {
    height: 210px;
    overflow-y: scroll;
}

pre.scroll-small {
    height: 110px;
    overflow-y: scroll;
}

pre.pre-wrap-text {
    white-space: pre-wrap;
}

pre.arial {
    font-family: arial;
}

pre.twenty {
    font-size: 20px;
}

pre.pre-vanity span {
    color: red;
    font-weight: bold;
}

code {
    background-color: #e0e0e0;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}

table.padding-6 th,table.padding-6 td {
    padding: 6px;
}

table.border-1-4c4c4c th,table.border-1-4c4c4c td {
    border: 1px solid #4c4c4c;
}

table.border-collapse {
    border-collapse: collapse;
}

table.computing-stats {
    border-spacing: 0px;
}

table.computing-stats td {
    padding: 0px;
}

table.computing-stats td.stats-padding-top {
    padding-top: 15px
}

table.centertable {
    margin-left: auto;
    margin-right: auto;
}

table.irc tr td {
    height: 40px;
    width: 40px;
    padding: 0px;
}

ul.ipv6-ipv4-test li {
    margin: 19.920px 0px;
    font-fize: 1.5em;
    font-weight: bold;
}

span.ipv6-test:after, span.ipv4-test:after {
    color: white;
    background-color: crimson;
    padding: 4px 5px 0px;
    content: "No";
}

p.recents-date {
    margin-bottom: 11px;
}

p.tags {
    margin-top: 7px;
    margin-bottom: 28px;
}

p.tags a {
    text-decoration: none;
}

p.tags span {
    padding: 2px 5px 2px 5px;
    border: 1.5px solid;
    border-radius: 4px;
    border-color: black;
    margin-right: 1px;
}

p.footer-email img {
    height: 16px;
    vertical-align: middle;
}

h5.license {
    margin-top: -19px;
}

img.footer-logo {
    filter: brightness(100);
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

img.footer-badge {
    vertical-align: middle;
    margin: 0 0 3px 8px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
}

footer {
    clear: both;
    margin: 0 auto;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
}

div.footer {
    display: flex;
    margin: 0 auto;
    padding: 0px 25px;
}

div.footer-column {
    display: inline-block;
}

div.footer-column h2 {
    margin-bottom: 12px;
}

div.footer-column a {
    color: white;
    text-decoration: none;
}

div.footer-column > a {
    margin: 0px 10px 10px 0px;
    display: inline-block;
    min-width: calc(50% - 20px);
}

div.footer a:hover,div.footer-item:hover h4 {
    text-decoration: underline;
}

div.footer-item {
    display: inline-block;
    height: 36px;
    width: 100%;
}

div.footer-item img {
    height: 32px;
    width: 32px;
    filter: invert(100);
    vertical-align: middle;
    padding-bottom: 4px;
}

div.footer-item h4 {
    display: inline-block;
    margin: 0 0 0 4px;
}

ul.footer-list {
    padding-left: 20px;
}

ul.footer-list h4 {
    margin: 0 0 7px 0;
}

ul.spaced-list li {
    margin-bottom: 7px;
}

span.tag-apache {
    background-color: #d70017;
    color: white;
}

span.tag-apple {
    background-color: #999999;
    color: white;
}

span.tag-bug-bounty {
    background-color: #db0f6f;
    color: white;
}

span.tag-chrome {
    background-color: #eec11b;
    color: white;
}

span.tag-domain-names {
    background-color: #337594;
    color: white;
}

span.tag-guide {
    background-color: #6b8e23;
    color: white;
}

span.tag-ipv6 {
    background-color: #ff65ed;
    color: white;
}

span.tag-irc {
    background-color: #20b29a;
    color: white;
}

span.tag-namecoin {
    background-color: #6385bb;
    color: white;
}

span.tag-meta {
    background-color: #59a2c7;
    color: white;
}

span.tag-pastebin {
    background-color: #003d64;
    color: white;
}

span.tag-reverse-engineering {
    background-color: #596060;
    color: white;
}

span.tag-rfc {
    background-color: #ffb100;
    color: white;
}

span.tag-security {
    background-color: #40b800;
    color: white;
}

span.tag-tls {
    background-color: #df9535;
    color: white;
}

span.tag-tor {
    background-color: #8c3399;
    color: white;
}

span.tag-ubuntu {
    background-color: #e95420;
    color: white;
}

span.tag-virtualisation {
    background-color: #2a7fee;
    color: white;
}

div.email-form {
    
}

div.email-form-sidebar {
    
}

div.email-form-sidebar input[type="email"] {
    width: 185px;
    margin-right: 10px;
}

div.email-form-sidebar input[type="submit"] {
    width: 45px;
}

input.form-input,input.form-submit {
    border: 1px solid darkgrey;
    border-radius: 1px;
    padding: 3px 6px;
    outline: none;
    font-size: small;
}

input.form-input {
    background-color: #f1f1f1;
}

input.form-input:invalid {
    border-color: #d70017;
}

input.form-submit {
    background-color: #ffb100;
    color: white;
    font-weight: bold;
}

input.form-input:invalid + input.form-submit {
    border-color: #d70017;
}

th.h1-scope-type {
    width: 150px;
}

th.h1-scope-identifier {
    width: 600px;
}

th.h1-scope-max-severity {
    width: 150px;
}

th.h1-scope-in-scope {
    width: 100px;
}

.centertext {
    text-align: center;
}

.clearboth {
    clear: both;
}

.redlink a:link {
    color: #000000;
    text-decoration: none;
}

.redlink a:visited {
    color: #000000;
    text-decoration: none;
}

.redlink a:hover {
    color: #ff0000;
}

.two-mar-top {
    margin-top: 2px;
}

.no-mar-top {
    margin-top: 0px;
}

.no-mar-bottom {
    margin-bottom: 0px;
}

.two-mar-bottom {
    margin-bottom: 2px;
}

.two-mar-left {
    margin-left: 2px;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-left-24 {
    margin-left: 24px;
}

.two-no-mar {
    margin-top: 2px;
    margin-bottom: 0px;
}

.no-mar {
    margin: 0;
}

.radius-8 {
    border-radius: 8px;
}

.border-1px-solid {
    border: 1px solid;
}

.indent {
    padding-left: 40px;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.vertical-align-middle {
    vertical-align: middle;
}

.display-flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    .flex-direction: row;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-1000 {
    width: 1000px;
}

.width-100-percent {
    width: 100%;
}

.width-450 {
    width: 450px;
}

.width-545 {
    width: 545px;
}

.max-width-100-percent {
    max-width: 100%;
}

.max-width-15-vw {
    max-width: 15vw;
}

.max-width-25-vw {
    max-width: 25vw;
}

.max-width-35-vw {
    max-width: 35vw;
}

.max-width-45-vw {
    max-width: 45vw;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-20-rl {
    padding: 0 20px;
}

.padding-8-rl {
    padding: 0 8px;
}

.intro-mar-top {
    margin-top: 11px;
}

.subtitle-mar-top {
    margin-top: 16px;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.color-limegreen {
    color: limegreen;
}

.color-crimson {
    color: crimson;
}

.color-grey {
    color: grey;
}

.y-scroll {
    overflow-y: scroll;
}

.x-scroll {
    overflow-x: scroll;
}

.word-break-all {
    word-break: break-all;
}

.font-family-monospace {
    font-family: monospace;
}

.info {
    margin-top: 0px;
    margin-bottom: 2px;
}

.currentproject {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.ewcbt-mar {
    margin: 15px;
}

.ewcbt-shift {
    position: relative;
    bottom: 319px;
    left: 15px;
}

.gravity-radio {
    display: none;
}

.gravity-label {
    display: inline-block;
    width: 275px;
    height: 275px;
    background: url(/images/jamieweb.png);
}

.gravity-radio:checked + .gravity-label {
    background: url(/images/jamieweb-gravity.gif);
}

.font-twenty-three {
    font-size: 23px;
}

.ios6-slider {
    background-image: url(/blog/ipad-mini-ios6/ios-6.png);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 750px;
}

.ios9-slider {
    background-image: url(/blog/ipad-mini-ios6/ios-9.png);
    position: absolute;
    resize: horizontal;
    height: 750px;
    min-width: 0;
    max-width: 100%;
}

.ios9-slider:before {
    content: '\2194';
    background: black;
    position: absolute;
    line-height: 750px;
    top: 0;
    right: 0;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 16px;
    color: white;
    cursor: ew-resize;
}

.ios-slider {
    position: relative;
    resize: horizontal;
    width: 34.2vw;
    height: 15px;
    top: 50%;
    left: 0px;
    transform: scaleY(65);
    transform-origin: center center;
    min-width: 14px;
    max-width: 100%;
    opacity: 0;
}

.subgraph-check {
    display: none;
}

.subgraph-label {
    display: inline-block;
    max-width: 100%;
    width: 720px;
    height: 400px;
    background: url(/blog/subgraph-os-overview/subgraph-vm-not-flashing.png);
}

.subgraph-check:checked + .subgraph-label {
    background: url(/blog/subgraph-os-overview/subgraph-vm-flashing.gif);
}

.subgraph-img-1 {
    padding-right: 17px;
}

.subgraph-img-2 {
    padding-right: 18px;
}

.left-right-title-margin {
    margin-bottom: 3.920px;
}
