html {
    overflow-y: scroll;
}

body {
    background-color: #f8f8f8;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p,a,li {
    font-family: Arial, Helvetica, sans-serif;
}

div.navbar {
    margin: 0 auto;
    width: 1000px;
    padding: 8px;
}

div.body {
    margin: 0 auto;
    width: 1000px;
    padding: 25px;
    padding-top: 0px;
}

div.content {
    float: left;
    width: 675px;
}

div.sidebar {
    float: right;
    width: 275px;
}

div.sidebar h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

div.sideitem {
    width: 135px;
    display: inline-block;
}

div.sideitem img {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    padding-bottom: 5px;
}

div.sideitem h4 {
    display: inline-block;
}

div.featured {
    width: 335px;
    display: inline-block;
}

div.featured h3 {
    margin-top: 11px;
}

div.menuitem {
    width: 222px;
    text-align: center;
    display: inline-block;
}

div.menuitem h1 {
    margin-bottom: 5px;
}

div.menuitem pre {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 28px;
}

div.ext-l-1 {
    width: 500px;
    float: left;
}

div.ext-r-1 {
    width: 450px;
    float: right;
}

div.ext-l-2 {
    width: 775px;
    float: left;
}

div.ext-r-2 {
    width: 204px;
    float: right;
}

nav {
    background-color: #59a2c7;
    overflow: hidden;
}

nav a {
    padding-right: 23px;
    text-decoration: none;
    color: #ffffff;
}

nav a.current {
    color: #ffffff;
    text-decoration: underline;
}

nav h5 {
    margin: 0px;
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: underline;
}

nav img {
    vertical-align: middle;
}

pre {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 15px;
}

pre a {
    font-family: monospace;
}

pre.arial {
    font-family: arial;
}

a.onionlink {
    font-family: monospace;
    padding: 3.5px;
    background-color: #e0e0e0;
    border: 1px solid #000000;
}

footer {
    clear: both;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

.clearboth {
    clear: both;
}

.redlink a:link {
    color:black;
    text-decoration: none;
}

.redlink a:visited {
    color:black;
    text-decoration: none;
}

.redlink a:hover {
    color:red;
}

.two-mar-top {
    margin-top: 2px;
}

.no-mar.top {
    margin-top: 0px;
}

.no-mar-bottom {
    margin-bottom: 0px;
}

.two-mar-bottom {
    margin-bottom: 2px;
}

.two-mar-left {
    margin-left: 2px;
}

.two-no-mar {
    margin-top: 2px;
    margin-bottom: 0px;
}

.intro-mar-top {
    margin-top: 11px;
}

.sideitem-mar-bottom {
    margin-bottom: 20px
}

.info {
    margin-top: 0px;
    margin-bottom: 2px;
}

.stats-padding-top {
    padding-top: 20px;
}

.gravityradio {
    display: none;
}

.gravitylabel {
    display: inline-block;
    width: 275px;
    height: 275px;
    background: url(/images/identicon.png);
}

.gravityradio:checked + .gravitylabel {
    background: url(/images/gravity.gif);
}

.subgraphcheck {
    display: none;
}

.subgraphlabel {
    display: inline-block;
    width: 720px;
    height: 400px;
    background: url(/blog/subgraph-os-overview/subgraph-vm-not-flashing.png);
}

.subgraphcheck:checked + .subgraphlabel {
    background: url(/blog/subgraph-os-overview/subgraph-vm-flashing.gif);
}

.subgraph-img-1 {
    padding-right: 17px;
}

.subgraph-img-2 {
    padding-right: 18px;
}

div.body div.hours {
    width: 498px;
    display: inline-block;
}

div.body div.hours p {
    font-size: 28px;
    padding-left: 85px;
}

div.body div.hours span {
    font-size: 14px;
}
