div.navbar div.dropdown-content {
    z-index: 3;
}
@media (min-width: 550px) {
    div.score, div.round {
        display: inline-block;
    }
    div.round {
        float: right;
    }
    div.topbar div.score p {
        margin-right: 10px;
    }
    p.domain-text {
        font-size: 2.5em;
    }
    p.domain-subtext {
        font-size: 1.5vw;
    }
}
@media (max-width: 549.99px) {
    p.domain-text {
        font-size: 1.5em;
    }
    p.domain-subtext {
        font-size: 2vw;
    }
}
div.app {
    min-height: 435px;
}
div.main {
    width: 100%;
}
div.overlay {
    z-index: 2;
    width: 100%;
}
div.disclaimer p {
    margin: 13px 0;
}
div.topbar {
    font-size: large;
    margin-top: 22px;
}
div.topbar p {
    margin: 0;
}
div.answer p {
    margin: 0 0 3px;
    text-align: center;
    font-size: x-large;
}
div.answer p.Correct {
    color: green;
}
div.answer p.Incorrect {
    color: red;
}
div.domain {
    background-color: lightgrey;
    border: 2px solid black;
}
p.domain-text {
    text-align: center;
    margin: 0 1.5%;
}
p.domain-subtext {
    margin: 0 0 0 4px;
    position: absolute;
    color: red;
}
span.fullstop {
    height: 0.14em;
    width: 0.14em;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    margin: 0 0.1em;
}
input.button {
    font-size: large;
    color: white;
    padding: 7px 15px;
    margin: 10px 10px 22px 10px;
    border: 4px solid black;
    border-radius: 5px;
}
input.button:hover {
    opacity: 80%;
}
input.button:active {
    opacity: 50%;
}
input.button-green {
    background-color: limegreen;
    margin-right: 5px;
}
input.button-blue {
    background-color: royalblue;
    margin-left: 5px;
}
input.button-red {
    background-color: crimson;
    min-width: 20%;
}
input.button-grey {
    background-color: darkslategrey;
    min-width: 20%;
}
div.description {
    margin: 0;
}
div.description p {
    font-size: large;
}
